@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Lato:wght@900&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth !important;
}

.bebas {
  font-family: 'Bebas Neue';
}

.header {
  font-weight: 500;
  line-height: 0.95em;
  color: white;
}

.header1 {
  font-size: 8.5em;
}
.header2 {
  font-size: 3.5em;
}
.header3 {
  font-size: 2em;
}



.outerContainer {
  margin: 0 !important;
  position: absolute;
  top: 0;
}



body {
  background-image: url('/src/bg.jpeg');
  background-attachment: fixed;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.notFlash {
  background-color: inherit;
  padding: 5px !important;
  border-radius: 5px;
  transition: 0.5s
}

.flash {
  background-color: lightgreen !important;
  padding: 5px !important;
  border-radius: 5px;
  transition: 1s
}

.landing {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-left: auto;
}

.landingContainerSmall {
  background-color: rgba(0, 66, 25, 0.9);
  padding: 20px;
  border-radius: 10px;
  color: white;
  width: 80%;
  min-width: 260px;
  max-width: 500px;
 margin-top: 10vh;
}

.landingContainer {
  background-color: rgba(0, 66, 25, 0.9);
  padding: 20px;
  border-radius: 10px;
  color: white;
  width: 80%;
  min-width: 280px;
  max-width: 500px;
 margin-top: 10vh;
}

.navBar {
  background-color: rgba(0, 66, 25, 0.9);
  width: 100vw;
  position: sticky;
  height: 50px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh
}

a {
  text-decoration: inherit;
  color: inherit;
}

.show {
  opacity: 1;
  transition: 2s;
}

.hide {
  opacity: 0;
  transition: 1s;
}

.showOnMob {
  visibility: hidden;
height: 0px !important;
}

.vanishLeft {
  margin-right: 140vw;
  opacity: 0;
  transition: 0.5s;
}

.vanishRight {
  margin-left: 140vw;
  opacity: 0;
  transition: 0.5s;
}

.fadeIn {
  opacity: 0;
  transition: 0.3s;
}
.fadeFinished {
  opacity: 1;
  transition: 0.3s
}

.scrollBtn {
  animation-name: bounce;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}
@keyframes bounce {
  0% {padding-bottom: 0;}
  40% {padding-bottom: 0;}
  50% {padding-bottom: 20px;}
  65% {padding-bottom: 0;}
  100% {padding-bottom: 0;}
}

@media screen and (max-width: 600px) {
  .header1 {
    font-size: 5.5em;
    line-height: 1em !important
  }
  .header2 {
    font-size: 2.5em;
  }
  .header {
    line-height: 1.2em;
    font-weight: 400;
  }
  .landing {
    font-size: small;
  }
  .landingContainer {
    margin-top: 10px;
  }
  .hideOnMob {
    visibility: hidden;
  }
  .showOnMob {
    visibility: visible;
    height: 35px !important;
  }
}